@import 'vars';
@import 'global';
@import 'fonts';

.header{
  &__top{
    &-inner{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 90px;
    }
  }
  &__text{
    margin-left: auto;
    margin-right: 50px;
    span{
      color: $red;
    }
  }
  &__btn{
    padding: 4px;
    width: 72px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    &-login{
      background-color: $green;
    }
    &-register{
      background-color: $red;
      margin-left: 7px;
    }
  }
  &__menu{
    background-color: $bg;
  }

}
.menu{
  display: flex;
  align-items: center;
  height: 60px;
  &__list{
    li{
      display: inline-block;
      & + li{
        margin-left: 30px;
      }
    }
    a{
      color: #fff;
      font-size: 14px;
    }
  }
}
.search{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
  &__inner{
    padding: 135px 0 100px;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    &-title{
      margin-bottom: 10px;
      font-size: 48px;
      font-weight: 700;
    }
    &-text{
      margin-bottom: 50px;
      font-weight: 500;
      font-size: 20px;
    }
    &-form{
      max-width: 670px;
      margin: 0 auto;
      position: relative;
      input{
        display: block;
        width: 100%;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        border-radius: 4px;
        height: 56px;
        border: none;
        font-size: 14px;
        font-weight: 500;
        padding: 0 60px 0 25px;
        &::placeholder{
          color: #90a4ae;
          font-weight: 500;
        }
      }
      button{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        max-width: 60px;
        width: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
}
